[Desktop Entry]
Categories=GNOME;GTK;System;Utility;TerminalEmulator;
Comment[en_US]=Use the command line in a Quake-like terminal
Comment=Use the command line in a Quake-like terminal
Comment[fr]=Utilisez la ligne de commande comme dans un terminal quake
Comment[fr_FR]=Utilisez la ligne de commande comme dans un terminal quake
Comment[pt]=Utilizar a linha de comando em um terminal estilo Quake
Comment[pt_BR]=Utilizar a linha de comando em um terminal estilo Quake
Encoding=UTF-8
Exec=guake
GenericName[en_US]=
GenericName=
Icon=guake
Keywords=Terminal;Utility;
MimeType=
Name[en_US]=Guake Terminal
Name=Guake Terminal
Name[fr]=Guake Terminal
Name[fr_FR]=Guake Terminal
Name[pt]=Guake Terminal
Name[pt_BR]=Guake Terminal
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=guake
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
