[Desktop Entry]
Name=Darch

X-KDE-PluginInfo-Name=Darch
X-KDE-PluginInfo-Author=Lee Forest
X-KDE-PluginInfo-Email=lee8oi@gmail.com
X-KDE-PluginInfo-License=LGPLv3
